<nz-card>
  <div nz-row class="container">
    <div nz-col nzSpan="12" class="search">
      <!-- <input nz-input type="text" FormControl="search" placeholder="Tìm kiếm"> -->
    </div>
    <div nz-col nzSpan="12" class="add-room">
      <!-- <a nz-button style="float: right" nzType="primary" [routerLink]="['/store', 'add-room']">THÊM MỚI PHÒNG</a> -->
    </div>
  </div>
  <div class="list-room">
    <nz-table #basicTable [nzData]="listRoom">
      <thead>
        <tr>
          <th nzWidth="20%" nzAlign="center">Ảnh phòng</th>
          <th nzWidth="15%" nzAlign="center">Tên phòng</th>
          <th nzWidth="15%" nzAlign="center">Giá</th>
          <th nzWidth="25%" nzAlign="center">Địa chỉ</th>
          <th nzWidth="25%" nzAlign="center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzAlign="center"><img nz-image [nzSrc]="data.images" alt="" width="200px" height="150px"></td>
          <td nzAlign="center">{{data.room_name}}</td>
          <td nzAlign="center">{{data.price}}</td>
          <td nzAlign="center">{{data.location }}</td>
          <td nzAlign="center">
            <button nz-button nzType="primary" (click)="addBill(data.id)" style="margin-right: 10px">Tạo hóa đơn</button>
            <button nz-button nzType="primary" (click)="showModal(data.id)">Trả phòng</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo hóa đơn" nzMaskClosable="false" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Tạo hóa đơn" nzWidth="60%">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" (ngSubmit)="addBill1()">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="month">Chọn tháng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Tháng không được để trống">
          <input nz-input type="number" formControlName="month" id="month"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="year">Chọn năm</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Năm không để trống!">
          <input nz-input type="text" formControlName="year" id="year" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="water_price">Số nước</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Số nước không được để trống!">
          <input nz-input type="text" formControlName="water_number" id="water_number" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="electric_price">Số điện</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Số điện không được để trống!">
          <input nz-input type="text" formControlName="electric_number" id="electric_number" />
        </nz-form-control>
      </nz-form-item>
      <!-- <div nz-row>
        <div nz-col nzSpan="4"></div>
        <div nz-oel nzSpan="18">
          <button nz-button type="submit" nzType="primary">Tạo hóa đơn</button>
          <a nz-button [routerLink]="['/store', 'manage-book-room']" nzType="default">Hủy</a>
        </div>
      </div> -->
    </form>
  </ng-container>
</nz-modal>
