
<nz-card>
  <h1>Thống kê doanh thu</h1>
  <nz-card style="box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;">
    <nz-table #basicTable [nzData]="listBill">
      <thead>
        <tr>
          <th nzWidth="10%" nzAlign="center">Tháng</th>
          <th nzWidth="20%" nzAlign="center">Tên phòng</th>
          <th nzWidth="20%" nzAlign="center">Tên khách thuê</th>
          <th nzWidth="10%" nzAlign="center">Tiền phòng</th>
          <th nzWidth="10%" nzAlign="center">Tiền điện</th>
          <th nzWidth="10%" nzAlign="center">Tiền nước</th>
          <th nzWidth="10%" nzAlign="center">Tiền mạng</th>
          <th nzWidth="10%" nzAlign="center">Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzAlign="center">{{data.month}}/{{data.year}}</td>
          <td nzAlign="center">{{data.room_name}}</td>
          <td nzAlign="center">{{data.username}}</td>
          <td nzAlign="center">{{data.room_price}}</td>
          <td nzAlign="center">{{data.total_electric_price}}</td>
          <td nzAlign="center">{{data.total_water_price}}</td>
          <td nzAlign="center">{{data.total_network_price}}</td>
          <td nzAlign="center">{{data.total_bill}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-card>
