<nz-card>
  <div nz-row class="container">
    <div nz-col nzSpan="12" class="search">
      <!-- <input nz-input type="text" FormControl="search" placeholder="Tìm kiếm"> -->
    </div>
    <div nz-col nzSpan="12" class="add-room">
      <!-- <a nz-button style="float: right" nzType="primary" [routerLink]="['/store', 'add-bill']">TẠO HÓA ĐƠN</a> -->
    </div>
  </div>
  <div class="list-room">
    <nz-table #basicTable [nzData]="listBill">
      <thead>
        <tr>
          <th nzWidth="10%" nzAlign="center">Tháng</th>
          <th nzWidth="10%" nzAlign="center">Tên phòng</th>
          <th nzWidth="15%" nzAlign="center">Tên khách thuê</th>
          <th nzWidth="10%" nzAlign="center">Tiền phòng</th>
          <th nzWidth="10%" nzAlign="center">Tiền điện</th>
          <th nzWidth="10%" nzAlign="center">Tiền nước</th>
          <th nzWidth="10%" nzAlign="center">Tiền mạng</th>
          <th nzWidth="10%" nzAlign="center">Tổng tiền</th>
          <th nzWidth="15%" nzAlign="center">Hành dộng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzAlign="center">{{data.month}}/{{data.year}}</td>
          <td nzAlign="center">{{data.room_name}}</td>
          <td nzAlign="center">{{data.username}}</td>
          <td nzAlign="center">{{data.room_price}}</td>
          <td nzAlign="center">{{data.total_electric_price}}</td>
          <td nzAlign="center">{{data.total_water_price}}</td>
          <td nzAlign="center">{{data.total_network_price}}</td>
          <td nzAlign="center">{{data.total_bill}}</td>
          <td nzAlign="center">
            <button nz-button nzType="primary" style="margin-right: 10px;" (click)="updateBill(data.id)">Trả tiền</button>
            <a nz-button nzType="primary" style="margin-right: 10px;" [routerLink]="['/store', 'edit-bill']" [queryParams]="{ id : data.id}"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
