
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
@primary-color: #9c27b0;
@border-radius-base: 3px;
@box-shadow-base: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
